@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
}
button {
  background: none;
  color: #ffa260;  
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.2s;
}
button:hover {
  border-color: #f1ff5c;
  color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.23em);
  cursor: pointer;
}